<div *ngIf="gem">
	
		
        <div class="box50">
            <h2 class="mobHide">{{gem.name}}</h2>
            <div class="box-header">
                <img class="gem-img" src="{{gem.img_url}}" />
             </div>
            <span><strong>Description :</strong> {{gem.description}}</span>	
        </div>
        
		<div class="box50">
			<h2 class="deskHide">{{gem.name}}</h2>
	            <span><strong>Formula :</strong> {{gem.formula}}</span>
            	<span><strong>Crystal Structure :</strong> {{gem.crystal_structure}}</span>
                <span><strong>Color :</strong> {{gem.color}}</span>
                <span><strong>Hardness :</strong> {{gem.hardness}}</span>
                <span><strong>Refractive Index :</strong> {{gem.refractive_index}}</span>
                <span><strong>Density :</strong> {{gem.density}}</span>
                <span><strong>Cleavage :</strong> {{gem.cleavage}}</span>	
                <span><strong>Transparency :</strong> {{gem.transparency}}</span>
                <span><strong>Birefringence :</strong> {{gem.birefringence}}</span>
                <span><strong>Luster :</strong> {{gem.luster}}</span>
                <span><strong>Fluorescence :</strong> {{gem.fluorescence}}</span>
		
		</div>
	<div  class="clear">	
	</div> 	
</div>